.acs-social-feed ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.acs-social-feed li {
  list-style: none;
}

.acs-social-feed img.author-photo {
  float: left;
  margin: 0 10px 10px 0;
  width: 48px;
  height: 48px;
}

.acs-social-feed .row {
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}

.acs-social-feed .row.first-row {
  padding-top: 0;
}

.acs-social-feed .row.last-row {
  padding-bottom: 0;
  border: 0;
}

.acs-social-feed div.time {
  color: #999;
  font-size: 0.8em;
  padding-top: 3px;
}

.acs-social-feed div.time a {
  color: #999;
}

.acs-social-feed div.author a,
.acs-social-feed div.video a {
  font-weight: bold;
  padding-bottom: 3px;
}