#redirect-overlay {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
}


    
#redirect-popup {
	width: 450px;
	height: auto;
  padding: 0;
  position: absolute;
	top: 50px;
	left: 50%;
  margin: 0 0 0 -225px;
	z-index: 1001;
  text-align: center;
  color: #FFF;
  font-family: PFDinTextPro, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

#redirect-popup h2 {
  font-family: CubanoRegular, arial, sans-serif;
  font-size: 5em;
}

#redirect-popup h2.second {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dashed #666;
}

#redirect-popup .icon {
  width: 125px;
  height: 125px;
  margin: 20px auto 20px auto;
  background: url('../images/logo.png')/*tpa=http://www.alpha.org/sites/brand2014.alpha.org/modules/ai_alpha_redirect/images/logo.png*/;
}

#redirect-popup p {
  padding: 0;
  margin: 15px 0 25px 0;
  width: 100%;
  line-height: 1.3em;
  font-size: 0.9em;
}

#redirect-popup .more p {
  width: 320px;
  margin: 10px auto;
}

#redirect-popup p.first {
  padding-bottom: 10px;
}

#redirect-popup a {
  width: 100%;
  background: #999;
  border-radius: 5px;
  display: block;
  margin: 0;
  padding-top: 4px;
  height: 36px;
  line-height: 36px;
  color: #FFF;
  font-size: 1.6em;
  text-decoration: none;
  text-transform: uppercase;
  
}

#redirect-popup a strong {
  font-weight: bold;
}

#redirect-popup a:hover {
  background: #ED3323!important;
}

#redirect-popup a.goto {
  background: #008EC4;
  margin-bottom: 10px;
}

#redirect-popup a.stay {

}

#redirect-warning {
	background-color: #FFFFFF;
    /*height: 20px;*/
    line-height: 20px;
    padding: 20px 10px 20px 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 400px;
    z-index: 99999;
    display:none;
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

#redirect-warning a {
  color: #31708f !important;
  text-decoration: underline !important;
	font-family: PFDinTextPro,arial,sans-serif;
/*  font-size: 0.9em;*/
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#redirect-warning a:hover {
  color: #dc0a19;
}

#redirect-warning-close{
    cursor: pointer;
    display: block;
    float: right;
    margin-bottom: 5px;
    padding: 0;
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* RETINA SUPPORT */

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 768px) and (max-moz-device-pixel-ratio: 2) {

  #redirect-popup .icon {
    background-image: url('../images/logo@2x.png')/*tpa=http://www.alpha.org/sites/brand2014.alpha.org/modules/ai_alpha_redirect/images/logo@2x.png*/;
    background-size: 125px 125px;
  }

}

/* MOBILE SUPPORT */

@media only screen and (max-width: 767px) {
 
  #redirect-popup {
    position: relative;
  	top: 20px;
  	width: 280px;
  	margin: 0 0 0 -140px;
  }
 
  #redirect-popup .icon {
    width: 75px;
    height: 75px;
    margin: 0 auto 10px auto;
    background: url('../images/mobile/logo.png')/*tpa=http://www.alpha.org/sites/brand2014.alpha.org/modules/ai_alpha_redirect/images/mobile/logo.png*/;
  }
  
  #redirect-popup p {
    margin-bottom: 10px;
  }
  
  #redirect-popup h2 {
    font-size: 3em;
  }
  
  #redirect-popup a {
    font-size: 1em;
  }
  
  #redirect-popup p {
    font-size: 0.9em;
  }
  
  #redirect-popup .more {
    display: none;
  }
  
  #redirect-warning {
    width: 245px;
  }

}

/* MOBILE RETINA SUPPORT */

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 767px) and (max-moz-device-pixel-ratio: 2) {

  #redirect-popup .icon {
    background-image: url('../images/mobile/logo@2x.png')/*tpa=http://www.alpha.org/sites/brand2014.alpha.org/modules/ai_alpha_redirect/images/mobile/logo@2x.png*/;
    background-size: 75px 75px;
  }

}