/*autocomplete stuff*/

#alpha-search-field {
  position: relative;
}
#ais-ac-wrapper {
    position: absolute;
    top: 100px;
    background-color: #ffffff;
    width: 50%;
    border: 1px solid #cccccc;
    padding: 5px;
    display:none;
    z-index: 99999;
}
#ais-ac-wrapper .ac-item a {
  display: block;
  width: 96%; 
  height: 96%;
  padding: 2%;
}
.ac-item.selected {
    background-color: #ddd;
}


@media only screen and (max-width: 800px) {
  #ais-ac-wrapper {
      width: 100%;
    }
}