@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url("../fonts/26A9BC_B_0.eot");
  src: url("../fonts/26A9BC_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/26A9BC_B_0.woff") format("woff"), url("../fonts/26A9BC_B_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src: url("../fonts/26A9BC_C_0.eot");
  src: url("../fonts/26A9BC_C_0.eot?#iefix") format("embedded-opentype"), url("../fonts/26A9BC_C_0.woff") format("woff"), url("../fonts/26A9BC_C_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url("../fonts/26A9BC_9_0.eot");
  src: url("../fonts/26A9BC_9_0.eot?#iefix") format("embedded-opentype"), url("../fonts/26A9BC_9_0.woff") format("woff"), url("../fonts/26A9BC_9_0.ttf") format("truetype"); }

/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 168, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 172, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, ../scss/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 198, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, ../scss/_normalize.scss */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 239, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 244, ../scss/_normalize.scss */
small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 254, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 261, ../scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 265, ../scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 280, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 284, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 294, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 303, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, ../scss/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, ../scss/_normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 400, ../scss/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 417, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 428, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 440, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 465, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
/* line 474, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 517, ../scss/_normalize.scss */
b, strong, .strong {
  font-weight: bold; }

/* line 519, ../scss/_normalize.scss */
dfn, em, .em {
  font-style: italic; }

/* line 521, ../scss/_normalize.scss */
small, .small {
  font-size: 75%; }

/* line 523, ../scss/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none; }

/* line 528, ../scss/_normalize.scss */
dd {
  margin: 0; }

/* line 534, ../scss/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/* line 1, ../scss/_footer.scss */
.footer-bar {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 40px;
  padding: 26px;
  right: 0;
  left: 0;
  bottom: 100;
  color: #bdbdbd; }
  /* line 17, ../scss/_footer.scss */
  .footer-bar a {
    color: #bdbdbd;
    text-decoration: none; }
    /* line 20, ../scss/_footer.scss */
    .footer-bar a:hover {
      color: #000000; }
  /* line 25, ../scss/_footer.scss */
  .footer-bar ul {
    display: inline-block;
    width: 100%; }
    /* line 30, ../scss/_footer.scss */
    .footer-bar ul li {
      display: inline-block;
      margin: 0 1%; }
      /* line 36, ../scss/_footer.scss */
      .footer-bar ul li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #bdbdbd;
        text-decoration: none; }
      /* line 47, ../scss/_footer.scss */
      .footer-bar ul li a:hover {
        color: #000000; }
  /* line 53, ../scss/_footer.scss */
  .footer-bar .footer-links1, .footer-bar .footer-links2, .footer-bar .footer-links3 {
    text-align: center; }

/* line 59, ../scss/_footer.scss */
.footer-text-area {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px; }

/* line 67, ../scss/_footer.scss */
.footer-bar > .container {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

/* line 77, ../scss/_footer.scss */
ul.footer-links1 li {
  margin: 0 5.1% !important; }
  /* line 80, ../scss/_footer.scss */
  ul.footer-links1 li a {
    text-transform: uppercase;
    font-size: 2.2em !important;
    font-family: ITCAvantGardeStd-Bold;
    font-weight: normal;
    font-style: normal; }

/* line 88, ../scss/_footer.scss */
.footerlinkshop {
  color: red !important; }

/* line 91, ../scss/_footer.scss */
.footerlinkprint {
  color: #808080 !important; }

/* line 94, ../scss/_footer.scss */
.footerlinkgive {
  color: #ECC54D !important; }

@media (max-width: 800px) {
  /* line 102, ../scss/_footer.scss */
  .footer-text-area {
    width: 80%; }

  /* line 107, ../scss/_footer.scss */
  ul.footer-links1 {
    width: 100%; }
    /* line 114, ../scss/_footer.scss */
    ul.footer-links1 li {
      position: relative;
      display: block; }

  /* line 122, ../scss/_footer.scss */
  ul.footer-links2, ul.footer-links3 {
    float: left;
    width: 50%;
    margin-bottom: 2em; }
    /* line 130, ../scss/_footer.scss */
    ul.footer-links2 li, ul.footer-links3 li {
      text-align: left;
      position: relative;
      display: block; }

  /* line 141, ../scss/_footer.scss */
  ul.footer-links1 li a {
    padding: 10px; } }
/* line 16, ../scss/navigation.scss */
#global-nav {
  height: 54px;
  background: white;
  width: 100%;
  color: #bdbdbd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
  /* line 27, ../scss/navigation.scss */
  #global-nav ul, #global-nav li {
    margin: 0px; }
  /* line 31, ../scss/navigation.scss */
  #global-nav a {
    text-decoration: none;
    color: inherit; }
  /* line 36, ../scss/navigation.scss */
  #global-nav .main {
    height: 54px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto; }
  /* line 43, ../scss/navigation.scss */
  #global-nav .sub {
    height: 34px;
    width: 100%;
    background: black;
    display: none; }
  /* line 50, ../scss/navigation.scss */
  #global-nav .sub.open {
    display: block; }
  /* line 54, ../scss/navigation.scss */
  #global-nav a {
    color: #bdbdbd; }
  /* line 58, ../scss/navigation.scss */
  #global-nav .complete {
    font-family: ITCAvantGardeStd-Md;
    font-weight: normal;
    font-style: normal;
    font-size: 0.9em;
    display: none; }
    /* line 63, ../scss/navigation.scss */
    #global-nav .complete li:first-child {
      margin-left: 10px; }
    /* line 67, ../scss/navigation.scss */
    #global-nav .complete a {
      text-decoration: none;
      height: 54px;
      line-height: 54px;
      float: left;
      padding: 0 15px; }
    /* line 75, ../scss/navigation.scss */
    #global-nav .complete a.active {
      color: black; }
  /* line 80, ../scss/navigation.scss */
  #global-nav .compressed {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-image: url("../images/global-nav/globalMenu.png");
    display: block;
    height: 54px;
    width: 54px;
    z-index: 1210; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      /* line 80, ../scss/navigation.scss */
      #global-nav .compressed {
        background-image: url("../images/global-nav/globalMenu@2x.png");
        background-size: 108px 54px; } }
  /* line 89, ../scss/navigation.scss */
  #global-nav .compressed.open {
    background-image: url("../images/global-nav/globalClose.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      /* line 89, ../scss/navigation.scss */
      #global-nav .compressed.open {
        background-image: url("../images/global-nav/globalClose@2x.png");
        background-size: 108px 54px; } }
  /* line 94, ../scss/navigation.scss */
  #global-nav .left,
  #global-nav .right {
    width: 20%; }
  /* line 98, ../scss/navigation.scss */
  #global-nav .center {
    width: 60%; }
  /* line 104, ../scss/navigation.scss */
  #global-nav .left,
  #global-nav .center,
  #global-nav .right {
    float: left; }
  /* line 108, ../scss/navigation.scss */
  #global-nav .right {
    float: right; }
  /* line 112, ../scss/navigation.scss */
  #global-nav .center {
    text-align: center; }
    /* line 114, ../scss/navigation.scss */
    #global-nav .center a {
      font-size: 1.75em;
      font-family: ITCAvantGardeStd-Bold;
      font-weight: normal;
      font-style: normal;
      line-height: 54px;
      color: black;
      text-decoration: none; }
  /* line 126, ../scss/navigation.scss */
  #global-nav .right ul li.icon {
    display: block;
    width: 54px;
    height: 54px;
    float: right; }
  /* line 133, ../scss/navigation.scss */
  #global-nav .right ul li.word {
    display: block;
    float: right; }
  /* line 138, ../scss/navigation.scss */
  #global-nav .right ul li.search {
    display: block;
    width: 54px;
    height: 54px;
    position: relative; }
    /* line 144, ../scss/navigation.scss */
    #global-nav .right ul li.search .search-open {
      background-color: white;
      display: block;
      width: 54px;
      height: 54px;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      color: transparent;
      font: 0/0 a;
      text-shadow: none; }
    /* line 156, ../scss/navigation.scss */
    #global-nav .right ul li.search .search-open.closed {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background-image: url("../images/global-nav/navSearch.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 156, ../scss/navigation.scss */
        #global-nav .right ul li.search .search-open.closed {
          background-image: url("../images/global-nav/navSearch@2x.png");
          background-size: 108px 54px; } }
      /* line 159, ../scss/navigation.scss */
      #global-nav .right ul li.search .search-open.closed:hover {
        background-position: -54px 0; }
    /* line 163, ../scss/navigation.scss */
    #global-nav .right ul li.search .search-open.opened {
      cursor: default;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background-image: url("../images/global-nav/navSearch.png");
      background-position: -54px 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 163, ../scss/navigation.scss */
        #global-nav .right ul li.search .search-open.opened {
          background-image: url("../images/global-nav/navSearch@2x.png");
          background-size: 108px 54px; } }
    /* line 169, ../scss/navigation.scss */
    #global-nav .right ul li.search .close {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background-image: url("../images/global-nav/globalClose.png");
      width: 54px;
      height: 54px;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      cursor: pointer; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 169, ../scss/navigation.scss */
        #global-nav .right ul li.search .close {
          background-image: url("../images/global-nav/globalClose@2x.png");
          background-size: 108px 54px; } }
      /* line 172, ../scss/navigation.scss */
      #global-nav .right ul li.search .close:hover {
        background-position: -54px 0; }
  /* line 185, ../scss/navigation.scss */
  #global-nav .right ul li.search.open {
    cursor: auto; }
  /* line 188, ../scss/navigation.scss */
  #global-nav .right ul li.icon > a {
    display: block;
    width: 54px;
    height: 54px;
    padding: 0;
    float: none !important; }
  /* line 196, ../scss/navigation.scss */
  #global-nav .right ul ul#ais-ac-wrapper {
    top: 50px;
    margin: 0;
    border: none;
    padding: 0px;
    width: 100%;
    z-index: 99999; }
  /* line 204, ../scss/navigation.scss */
  #global-nav .right ul #ais-ac-wrapper li.ac-item {
    border-bottom: 1px solid #000;
    background: #FFF; }
    /* line 207, ../scss/navigation.scss */
    #global-nav .right ul #ais-ac-wrapper li.ac-item a {
      font-family: ITCAvantGardeStd-Demi;
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
      color: #000; }
  /* line 213, ../scss/navigation.scss */
  #global-nav .right ul #ais-ac-wrapper li.ac-item.selected {
    color: #000;
    background: #D0D0D0; }
  /* line 219, ../scss/navigation.scss */
  #global-nav .right ul .complete {
    display: none; }
  /* line 223, ../scss/navigation.scss */
  #global-nav .global a {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-image: url("../images/global-nav/globalGlobal.png");
    display: block;
    width: 54px;
    height: 54px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      /* line 223, ../scss/navigation.scss */
      #global-nav .global a {
        background-image: url("../images/global-nav/globalGlobal@2x.png");
        background-size: 108px 54px; } }
  /* line 231, ../scss/navigation.scss */
  #global-nav .social a {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-image: url("../images/global-nav/globalSocial.png");
    display: block;
    width: 54px;
    height: 54px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      /* line 231, ../scss/navigation.scss */
      #global-nav .social a {
        background-image: url("../images/global-nav/globalSocial@2x.png");
        background-size: 108px 54px; } }
  /* line 239, ../scss/navigation.scss */
  #global-nav .login a, #global-nav .logout a {
    text-align: right; }
  /* line 243, ../scss/navigation.scss */
  #global-nav .sub-social {
    display: none; }

/* line 248, ../scss/navigation.scss */
.ui-tooltip {
  box-shadow: none !important; }

/* line 252, ../scss/navigation.scss */
#mobile-journal-nav, #cc-menu-mobile {
  display: none; }

/* line 256, ../scss/navigation.scss */
#search-form-nav {
  height: 54px;
  margin-left: 54px;
  background-color: #FFF;
  display: none; }
  /* line 261, ../scss/navigation.scss */
  #search-form-nav label {
    display: none; }
  /* line 264, ../scss/navigation.scss */
  #search-form-nav .form-item {
    margin-top: 0;
    margin-bottom: 0; }
  /* line 268, ../scss/navigation.scss */
  #search-form-nav .form-item-ai-search-string {
    height: 54px;
    float: left;
    width: 80%; }
  /* line 273, ../scss/navigation.scss */
  #search-form-nav form#ai-search-form {
    content: "";
    display: table;
    clear: both;
    width: 100%; }
  /* line 279, ../scss/navigation.scss */
  #search-form-nav form#ai-search-form > div {
    width: 100%; }
  /* line 282, ../scss/navigation.scss */
  #search-form-nav input#edit-ai-search-string {
    font-family: ITCAvantGardeStd-Demi;
    font-weight: normal;
    font-style: normal;
    border: 0;
    background-image: none;
    float: left;
    height: 100%;
    width: 90%;
    outline: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    outline-width: 0; }
  /* line 295, ../scss/navigation.scss */
  #search-form-nav input.form-submit {
    display: none;
    font-family: ITCAvantGardeStd-Demi;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    float: right;
    height: 30px;
    margin: 10px 10px 10px 0;
    padding: 0 10px;
    border: none;
    background-color: #000000;
    color: #FFF; }
    /* line 306, ../scss/navigation.scss */
    #search-form-nav input.form-submit:hover {
      background-color: #E3121C; }

/* line 314, ../scss/navigation.scss */
#cc-menu {
  display: block;
  height: 46px;
  line-height: 46px;
  background: black;
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 1012; }
  /* line 324, ../scss/navigation.scss */
  #cc-menu > .inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto; }
  /* line 329, ../scss/navigation.scss */
  #cc-menu .right {
    float: right; }
    /* line 331, ../scss/navigation.scss */
    #cc-menu .right a.current {
      color: #e7b34e; }
  /* line 336, ../scss/navigation.scss */
  #cc-menu .left {
    float: left; }
    /* line 338, ../scss/navigation.scss */
    #cc-menu .left a {
      display: block;
      width: 230px;
      height: 40px;
      padding: 3px 15px 3px;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background-image: url("../images/global-nav/cc_logo.png");
      background-repeat: no-repeat;
      background-position: 15px 7px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 338, ../scss/navigation.scss */
        #cc-menu .left a {
          background-image: url("../images/global-nav/cc_logo@2x.png");
          background-size: 201px 35px; } }
  /* line 349, ../scss/navigation.scss */
  #cc-menu ul {
    margin: 0; }
    /* line 351, ../scss/navigation.scss */
    #cc-menu ul li {
      display: inline;
      color: white;
      margin-right: 30px;
      font-size: 0.9em; }
      /* line 356, ../scss/navigation.scss */
      #cc-menu ul li a {
        font-family: ITCAvantGardeStd-Md;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: white; }
        /* line 360, ../scss/navigation.scss */
        #cc-menu ul li a:hover {
          color: #e7b34e; }
  /* line 366, ../scss/navigation.scss */
  #cc-menu a.arrow {
    position: absolute;
    display: block;
    right: 30px;
    top: 0; }

/* line 373, ../scss/navigation.scss */
#cc-menu-mobile {
  display: block;
  font-family: ITCAvantGardeStd-Demi;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 46px;
  background: #000;
  top: 54px;
  right: 0px;
  position: fixed;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1011; }
  /* line 385, ../scss/navigation.scss */
  #cc-menu-mobile a {
    text-decoration: none;
    color: inherit; }
  /* line 389, ../scss/navigation.scss */
  #cc-menu-mobile a.arrow {
    padding-left: 20px;
    background-image: url("../images/whitearrow.png");
    background-repeat: no-repeat;
    background-position: left center; }
  /* line 395, ../scss/navigation.scss */
  #cc-menu-mobile a.arrow.open {
    background-image: url("../images/whitearrowup.png"); }
  /* line 398, ../scss/navigation.scss */
  #cc-menu-mobile .cc-menu-left {
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    line-height: 46px;
    padding-left: 15px; }
  /* line 407, ../scss/navigation.scss */
  #cc-menu-mobile .cc-menu-right {
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    line-height: 46px;
    padding-right: 15px; }

/* line 420, ../scss/navigation.scss */
.page-journal #mobile-journal-nav {
  display: block;
  font-family: ITCAvantGardeStd-Demi;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 46px;
  background: #000;
  top: 54px;
  right: 0px;
  position: fixed;
  z-index: 1010; }
  /* line 430, ../scss/navigation.scss */
  .page-journal #mobile-journal-nav a.arrow {
    color: inherit;
    text-decoration: none;
    padding-left: 20px;
    background-image: url("../images/whitearrow.png");
    background-repeat: no-repeat;
    background-position: left center; }
  /* line 438, ../scss/navigation.scss */
  .page-journal #mobile-journal-nav a.arrow.open {
    background-image: url("../images/whitearrowup.png"); }
  /* line 441, ../scss/navigation.scss */
  .page-journal #mobile-journal-nav .mobile-journal-left {
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 15px; }
  /* line 450, ../scss/navigation.scss */
  .page-journal #mobile-journal-nav .mobile-journal-right {
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 15px; }

/* line 462, ../scss/navigation.scss */
#journal-overlay {
  z-index: 1001;
  overflow-y: auto; }
  /* line 466, ../scss/navigation.scss */
  #journal-overlay ul {
    margin: 0;
    padding: 0; }
  /* line 471, ../scss/navigation.scss */
  #journal-overlay ul li {
    margin: 0;
    padding: 0; }
  /* line 476, ../scss/navigation.scss */
  #journal-overlay ul a {
    text-align: right;
    text-decoration: none;
    display: block;
    font-family: ITCAvantGardeStd-Bold;
    font-weight: normal;
    font-style: normal;
    color: #FFF;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 48px; }
    /* line 487, ../scss/navigation.scss */
    #journal-overlay ul a:hover {
      color: #ffcf00; }
    /* line 490, ../scss/navigation.scss */
    #journal-overlay ul a.current {
      color: #ffcf00; }

/* line 496, ../scss/navigation.scss */
.journal-menu-style {
  background: #000;
  background-color: rgba(0, 14, 21, 0.8);
  z-index: 1001; }

/* line 502, ../scss/navigation.scss */
.menu-style {
  z-index: 1020;
  background: #FFF;
  background-color: rgba(255, 255, 255, 0.94);
  border-bottom: 1px solid #bdbdbd; }

/* line 509, ../scss/navigation.scss */
#nav-overlay {
  z-index: 1020;
  overflow-y: auto; }
  /* line 513, ../scss/navigation.scss */
  #nav-overlay .compressed {
    display: none; }
  /* line 517, ../scss/navigation.scss */
  #nav-overlay .left ul {
    margin: 0; }
  /* line 521, ../scss/navigation.scss */
  #nav-overlay ul li {
    margin: 0;
    padding: 0; }
  /* line 526, ../scss/navigation.scss */
  #nav-overlay .left .section-sub {
    display: none; }
  /* line 530, ../scss/navigation.scss */
  #nav-overlay .left ul a {
    text-decoration: none;
    display: block;
    font-family: ITCAvantGardeStd-Md;
    font-weight: normal;
    font-style: normal;
    color: black;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 48px;
    border-bottom: 1px solid #bdbdbd; }
  /* line 543, ../scss/navigation.scss */
  #nav-overlay .sub-social {
    padding: 20px 0; }
    /* line 546, ../scss/navigation.scss */
    #nav-overlay .sub-social a {
      width: 24px;
      height: 24px;
      display: block;
      color: transparent;
      font: 0/0 a;
      text-shadow: none; }
    /* line 553, ../scss/navigation.scss */
    #nav-overlay .sub-social ul {
      width: 176px;
      height: 24px;
      display: block;
      margin: 0 auto; }
    /* line 560, ../scss/navigation.scss */
    #nav-overlay .sub-social li {
      float: left;
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 10px; }
    /* line 568, ../scss/navigation.scss */
    #nav-overlay .sub-social a.twitter-nav {
      background-image: url("../images/global-nav/globalOverlayTwitter.png");
      background-color: transparent; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 568, ../scss/navigation.scss */
        #nav-overlay .sub-social a.twitter-nav {
          background-image: url("../images/global-nav/globalOverlayTwitter@2x.png");
          background-size: 48px 24px; } }
    /* line 573, ../scss/navigation.scss */
    #nav-overlay .sub-social a.facebook-nav {
      background-image: url("../images/global-nav/globalOverlayFacebook.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 573, ../scss/navigation.scss */
        #nav-overlay .sub-social a.facebook-nav {
          background-image: url("../images/global-nav/globalOverlayFacebook@2x.png");
          background-size: 48px 24px; } }
    /* line 577, ../scss/navigation.scss */
    #nav-overlay .sub-social a.instagram-nav {
      background-image: url("../images/global-nav/globalOverlayInstagram.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 577, ../scss/navigation.scss */
        #nav-overlay .sub-social a.instagram-nav {
          background-image: url("../images/global-nav/globalOverlayInstagram@2x.png");
          background-size: 48px 24px; } }
    /* line 581, ../scss/navigation.scss */
    #nav-overlay .sub-social a.youtube-nav {
      background-image: url("../images/global-nav/globalOverlayYoutube.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        /* line 581, ../scss/navigation.scss */
        #nav-overlay .sub-social a.youtube-nav {
          background-image: url("../images/global-nav/globalOverlayYoutube@2x.png");
          background-size: 48px 24px; } }

/* line 587, ../scss/navigation.scss */
#coverall {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); }

/* Non-Touch */
/* line 603, ../scss/navigation.scss */
.no-touch #global-nav .compressed:hover {
  background-position: -54px 0; }
/* line 607, ../scss/navigation.scss */
.no-touch #global-nav .right a:hover {
  background-position: -54px 0; }
/* line 612, ../scss/navigation.scss */
.no-touch #global-nav .complete a:hover {
  color: #000; }
/* line 618, ../scss/navigation.scss */
.no-touch #global-nav .left:hover a.active {
  color: #bdbdbd; }
/* line 622, ../scss/navigation.scss */
.no-touch #global-nav .left:hover a:hover.active {
  color: black; }
/* line 627, ../scss/navigation.scss */
.no-touch #global-nav .sub-social a:hover {
  color: #fc0d1b; }
/* line 631, ../scss/navigation.scss */
.no-touch #global-nav .right ul .sub-social a:hover {
  background-position: -24px 0; }
/* line 636, ../scss/navigation.scss */
.no-touch #global-nav .left li:hover.expandable > a {
  background-image: url("../images/global-nav/globalArrow.png");
  background-position: center bottom;
  color: black; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    /* line 636, ../scss/navigation.scss */
    .no-touch #global-nav .left li:hover.expandable > a {
      background-image: url("../images/global-nav/globalArrow@2x.png");
      background-size: 54px 54px; } }
/* line 642, ../scss/navigation.scss */
.no-touch #global-nav .left li:hover .section-sub {
  display: block; }

/* line 652, ../scss/navigation.scss */
.no-touch .page-journal #global-nav .left li.expandable > a {
  background-image: url("../images/global-nav/globalArrow.png");
  background-position: center bottom;
  color: black; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    /* line 652, ../scss/navigation.scss */
    .no-touch .page-journal #global-nav .left li.expandable > a {
      background-image: url("../images/global-nav/globalArrow@2x.png");
      background-size: 54px 54px; } }
/* line 658, ../scss/navigation.scss */
.no-touch .page-journal #global-nav .left li .section-sub {
  display: block; }

/* line 668, ../scss/navigation.scss */
.no-touch #nav-overlay .sub-social a:hover {
  background-position: -24px 0; }

/* Not Desktop */
@media screen and (max-width: 800px) {
  /* line 677, ../scss/navigation.scss */
  #global-nav .right ul .complete {
    display: none !important; }

  /* line 681, ../scss/navigation.scss */
  #cc-menu {
    display: none !important; } }
/* Tablet */
@media screen and (min-width: 480px) and (max-width: 800px) {
  /* line 690, ../scss/navigation.scss */
  #global-nav .left,
  #global-nav .right {
    width: 40%; }
  /* line 694, ../scss/navigation.scss */
  #global-nav .center {
    width: 20%; }

  /* line 699, ../scss/navigation.scss */
  #nav-overlay {
    border-bottom: 0; }
    /* line 702, ../scss/navigation.scss */
    #nav-overlay .left ul {
      margin-top: 54px; }

  /* line 706, ../scss/navigation.scss */
  #journal-overlay {
    border-bottom: 0; } }
/* Desktop */
@media screen and (min-width: 800px) {
  /* line 714, ../scss/navigation.scss */
  #coverall {
    display: none !important; }

  /* line 718, ../scss/navigation.scss */
  #nav-overlay, #nav-overlay-outer {
    display: none;
    border-bottom: 0; }
    /* line 722, ../scss/navigation.scss */
    #nav-overlay .left ul, #nav-overlay-outer .left ul {
      margin-top: 0px; }

  /* line 726, ../scss/navigation.scss */
  #journal-overlay, #journal-overlay-outer {
    display: none;
    border-bottom: 0; }
    /* line 730, ../scss/navigation.scss */
    #journal-overlay .left ul, #journal-overlay-outer .left ul {
      margin-top: 0px; }

  /* line 736, ../scss/navigation.scss */
  .page-journal .mobile-journal {
    display: none; }

  /* line 743, ../scss/navigation.scss */
  #global-nav .complete {
    display: inline; }
  /* line 746, ../scss/navigation.scss */
  #global-nav .compressed {
    display: none; }
  /* line 750, ../scss/navigation.scss */
  #global-nav .right ul .complete {
    display: block; }
  /* line 755, ../scss/navigation.scss */
  #global-nav .left,
  #global-nav .right {
    width: 43%; }
  /* line 759, ../scss/navigation.scss */
  #global-nav .center {
    width: 14%; }
  /* line 763, ../scss/navigation.scss */
  #global-nav .social {
    position: relative; }
  /* line 767, ../scss/navigation.scss */
  #global-nav .right ul li.social:hover {
    background-image: url("../images/global-nav/globalArrow.png"); }
    /* line 770, ../scss/navigation.scss */
    #global-nav .right ul li.social:hover > a {
      background-position: -54px 0; }
    /* line 774, ../scss/navigation.scss */
    #global-nav .right ul li.social:hover .sub-social {
      display: block; }
  /* line 778, ../scss/navigation.scss */
  #global-nav .right ul .sub-social {
    display: none;
    width: 151px;
    height: 46px;
    background: #000;
    top: 54px;
    right: 0px;
    position: absolute;
    z-index: 1010; }
    /* line 788, ../scss/navigation.scss */
    #global-nav .right ul .sub-social ul {
      margin: 0; }
    /* line 792, ../scss/navigation.scss */
    #global-nav .right ul .sub-social li {
      width: 24px;
      height: 24px;
      margin: 11px;
      float: left;
      margin-right: 0; }
    /* line 800, ../scss/navigation.scss */
    #global-nav .right ul .sub-social a {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      display: block;
      padding: 0;
      line-height: 24px;
      width: 24px;
      height: 24px; }
    /* line 809, ../scss/navigation.scss */
    #global-nav .right ul .sub-social a.twitter-nav {
      background-image: url("../images/global-nav/globalTwitter.png"); }
    /* line 813, ../scss/navigation.scss */
    #global-nav .right ul .sub-social a.facebook-nav {
      background-image: url("../images/global-nav/globalFacebook.png"); }
    /* line 817, ../scss/navigation.scss */
    #global-nav .right ul .sub-social a.instagram-nav {
      background-image: url("../images/global-nav/globalInstagram.png"); }
    /* line 821, ../scss/navigation.scss */
    #global-nav .right ul .sub-social a.youtube-nav {
      background-image: url("../images/global-nav/globalYoutube.png"); }
  /* line 827, ../scss/navigation.scss */
  #global-nav .left .section-sub {
    display: none;
    width: 100%;
    height: 46px;
    background: #000;
    top: 54px;
    right: 0px;
    position: absolute;
    z-index: 1010; }
    /* line 837, ../scss/navigation.scss */
    #global-nav .left .section-sub ul {
      max-width: 1024px;
      margin: 0 auto; }
      /* line 841, ../scss/navigation.scss */
      #global-nav .left .section-sub ul a {
        line-height: 46px;
        height: 46px;
        color: white; }
        /* line 846, ../scss/navigation.scss */
        #global-nav .left .section-sub ul a:hover {
          color: #ffcf00; }
        /* line 849, ../scss/navigation.scss */
        #global-nav .left .section-sub ul a.current {
          color: #ffcf00; } }
  @media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 800px) and (min-resolution: 125dpi), only screen and (min-width: 800px) and (min-resolution: 1.3dppx) {
    /* line 767, ../scss/navigation.scss */
    #global-nav .right ul li.social:hover {
      background-image: url("../images/global-nav/globalArrow@2x.png");
      background-size: 54px 54px; } }
    @media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 800px) and (min-resolution: 125dpi), only screen and (min-width: 800px) and (min-resolution: 1.3dppx) {
      /* line 809, ../scss/navigation.scss */
      #global-nav .right ul .sub-social a.twitter-nav {
        background-image: url("../images/global-nav/globalTwitter@2x.png");
        background-size: 48px 24px; } }
    @media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 800px) and (min-resolution: 125dpi), only screen and (min-width: 800px) and (min-resolution: 1.3dppx) {
      /* line 813, ../scss/navigation.scss */
      #global-nav .right ul .sub-social a.facebook-nav {
        background-image: url("../images/global-nav/globalFacebook@2x.png");
        background-size: 48px 24px; } }
    @media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 800px) and (min-resolution: 125dpi), only screen and (min-width: 800px) and (min-resolution: 1.3dppx) {
      /* line 817, ../scss/navigation.scss */
      #global-nav .right ul .sub-social a.instagram-nav {
        background-image: url("../images/global-nav/globalInstagram@2x.png");
        background-size: 48px 24px; } }
    @media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 800px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 800px) and (min-resolution: 125dpi), only screen and (min-width: 800px) and (min-resolution: 1.3dppx) {
      /* line 821, ../scss/navigation.scss */
      #global-nav .right ul .sub-social a.youtube-nav {
        background-image: url("../images/global-nav/globalYoutube@2x.png");
        background-size: 48px 24px; } }
