/* Indent & Justify classes */

.rteindent1 {
    margin-left: 40px;
}
.rteindent2 {
    margin-left: 80px;
}
.rteindent3 {
    margin-left: 120px;
}
.rteindent4 {
    margin-left: 160px;
}
.rteleft {
    text-align: left;
}
.rteright {
    text-align: right;
}
.rtecenter {
    text-align: center;
}
.rtejustify {
    text-align: justify;
}
.ibimage_left {
    float: left;
}
.ibimage_right {
    float: right;
}

/* CKEditor padding in IE */
table.cke_editor fieldset {
    padding: 0 !important;
}
/* hack with ie and garland editing area size fix - [#733512] */
.cke_editor{
    display: table !important;
}
.cke_editor,#ie#bug {
    display: inline-table !important;
}
/* Fix table border for Drupal's Seven theme - [#1020612] */
.cke_dialog tr td:last-child {
    border-right: 0;
}

/*toolbar Drag & Drop*/
form#ckeditor-admin-profile-form textarea#edit-toolbar {
    display: none;
}
form#ckeditor-admin-profile-form #edit-toolbar + .grippie {
    display: none;
}
div.sortableList {
    cursor: n-resize;
}
div.widthMarker {
    height: 20px;
    border-top: 1px dashed #CCC;
    margin: 10px 0px 0px 1px;
    padding-left: 1px;
    text-align: center;
}
div.sortableList.group {
    margin: 20px 0px 0px 0px;
}
div.sortableList div.sortableListDiv {
    height: 30px;
    margin-bottom: 3px;
    width: 900px;
}
div.sortableList div.sortableListDiv span.sortableListSpan {
    background-color: #F0F0EE;
    height: 30px;
    border-right: 1px dashed #CCC;
    display: block;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul {
    width: 900px;
    white-space: nowrap;
    border: 1px solid #CCC;
    list-style: none;
    margin:0px;
    padding: 0px 0px 0px 1px;
    height: 30px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li {
    list-style: none;
    cursor: move;
    height: 18px;
    min-width: 18px;
    padding: 2px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li.group {
    min-width: 5px;
    padding-left: 2px;
}
div.sortableList div.sortableListDiv span.sortableListSpan ul li img {
    border: 0;
    padding: 0;
    margin: 0
}
li.sortableItem {
    position: relative;
    float: left;
    margin: 3px 1px 1px 0px;
    border: 1px solid #CCC;
    background-color: #F0F0EE;
    z-index: 99;
}

#security-filters .filter-text-formats {
    float: left;
    clear: both;
    width: 15%;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0px;
}

#security-filters .filter-text-formats .filter-text-format-status {
    float: left;
    padding-right: 20px;
}

#security-filters .filter-text-formats .enabled {
    background: url(images/tick.png)/*tpa=http://www.alpha.org/sites/brand2014.alpha.org/modules/ckeditor/images/tick.png*/ no-repeat right center;
}

#security-filters .filter-text-formats .disabled {
    background: url(images/delete.png)/*tpa=http://www.alpha.org/sites/brand2014.alpha.org/modules/ckeditor/images/delete.png*/ no-repeat right center;
}

#security-filters .filter-info {
    float: left;
    width: 85%;
}

#security-filters .fieldset-legend {
    background: none;
    padding-left: 10px;
}

#security-filters .fieldset-legend a {
    font-weight: normal;
    font-size: 10px;
    padding-left: 5px;
}

#security-filters .filter-wrapper {
    clear: both;
    float: left;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

/* Fix for fieldset for-edit-apperance in Firefox*/
fieldset#edit-appearance div#groupLayout, div#allButtons  {
  border: 0;
  padding: 0 0 0 0;
  margin: 1em 0;
  overflow: auto;
}
/*  end of toolbar Drag & Drop */