@font-face {
    font-family: 'AvantGardeCTT-Bold';
    src: url('../font/avantgardectt_bold.eot');
    src: url('../font/avantgardectt_bold.eot') format('embedded-opentype'),
    url('../font/avantgardectt_bold.woff') format('woff'),
    url('../font/avantgardectt_bold.ttf') format('truetype'),
    url('../font/avantgardectt_bold.svg#AvantGardeCTT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#global-nav .complete {
    visibility: hidden;
}

#global-nav .right {
    visibility: hidden;
}

.footer-bar .footer-links1, .footer-bar .footer-links2, .footer-bar .footer-links3 {
    visibility: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#tryalpha-search .form-actions .form-submit {
    font-family: AvantGardeCTT-Bold, Arial, sans-serif;
    padding: 0 30px;
    width: auto;
}

#map-wrap {
    margin: 1em 0;
    border: 1px solid lightgrey;
}

#map {
    min-height: 380px;
}

#map p {
    color: black;
    font-family: inherit;
    font-size: inherit;
    margin: inherit;
    padding: inherit;
    margin: 10px 0;
}

#tryalpha-search .map-icon {
    font-family: AvantGardeCTT-Bold, Arial, sans-serif;
}

#tryalpha-search .form-item.form-item-country {
    width: 270px;
}

#tryalpha-search .form-item.form-item-country select#tryalpha-country {
    font-family: Arial, sans-serif;
    width: 270px;
}

#global-nav .center a {
    font-family: AvantGardeCTT-Bold, Arial, sans-serif;
}

.try-landscape .video-title, .try-portrait .video-title {
    font-family: AvantGardeCTT-Bold, Arial, sans-serif;
}

@media only screen and (max-width: 495px) {
    #tryalpha-search .map-icon {
        line-height: normal;
    }

    #tryalpha-search .form-actions {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 510px) {
    #tryalpha-search.mobile-fixed {
        position: relative;
        z-index: inherit;
        top: inherit;
    }
}

#promo_video {
    min-height: 510px;
}
#promo_video #videostartframe {
    background: #000 url("../img/welcome.png") 50% 50% no-repeat
}

#promo_video .promo_logo {
    background-size: 60%;
    background-position: 100% 100%;
}

body.autoplay-supported #promo_video #playvideo {
    display: block;
}
